# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/JeuTextuel/FileContentIndex
/.vs/JeuTextuel/FileContentIndex
/.vs/JeuTextuel/FileContentIndex
/.vs/JeuTextuel/FileContentIndex
.vs/JeuTextuel/FileContentIndex/b541e791-be41-4969-969c-2d897dfa6892.vsidx
